<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 创建业务对象-->
    <bean id="someService" class="aspect.s01.impl.SomeServiceImpl"></bean>
    <!-- 创建切面对象-->
    <bean id="myAspect" class="aspect.s01.MyAspect"></bean>
    <!-- 绑定-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

</beans>